<!--Begin::Row-->
<!--Begin::Widget Internal-->
<div class="row">
    <div class="col-md-4">
		<div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-widget20">
                <div class="kt-widget20__content kt-portlet__space-x">
                    <span class="kt-widget20__number kt-font-success" id="income">-</span>
                    <span class="kt-widget20__desc">Total Income</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
		<div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-widget20">
                <div class="kt-widget20__content kt-portlet__space-x">
                    <span class="kt-widget20__number kt-font-danger" id="outcome">-</span>
                    <span class="kt-widget20__desc">Total Outcome</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
		<div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-widget20">
                <div class="kt-widget20__content kt-portlet__space-x">
                    <span class="kt-widget20__number kt-font-primary" id="balance">-</span>
                    <span class="kt-widget20__desc">Saldo</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::Row-->
<!--End::Widget Internal-->

<!--Begin::Row-->
<!--Begin::Widget Internal-->
<!-- 
<span>Partner</span>
<div class="row">
    <div class="col-md-4">
		<div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-widget20">
                <div class="kt-widget20__content kt-portlet__space-x">
                    <span class="kt-widget20__number kt-font-success">-</span>
                    <span class="kt-widget20__desc">Total Income</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
		<div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-widget20">
                <div class="kt-widget20__content kt-portlet__space-x">
                    <span class="kt-widget20__number kt-font-danger">-</span>
                    <span class="kt-widget20__desc">Total Withdraw</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
		<div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-widget20">
                <div class="kt-widget20__content kt-portlet__space-x">
                    <span class="kt-widget20__number kt-font-primary">-</span>
                    <span class="kt-widget20__desc">saldo</span>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!--End::Row-->
<!--End::Widget Internal-->

<!--Begin::Row-->
<!--Begin::Section-->
<div class="row">
    <div class="col-lg-12 col-xl-12 order-lg-1 order-xl-1">
        <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
            <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Balance History
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="dropdown dropdown-inline">
                        <!-- <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="flaticon-more-1"></i>
                        </button> -->
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-md dropdown-menu-fit">

                            <!--begin::Nav-->
                            <ul class="kt-nav">
                                <li class="kt-nav__head">
                                    Export Options
                                    <span data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--brand kt-svg-icon--md1">
																		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																			<rect x="0" y="0" width="24" height="24" />
																			<circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
																			<rect fill="#000000" x="11" y="10" width="2" height="7" rx="1" />
																			<rect fill="#000000" x="11" y="7" width="2" height="2" rx="1" />
																		</g>
																	</svg> </span>
                                </li>
                                <li class="kt-nav__separator"></li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-drop"></i>
                                        <span class="kt-nav__link-text">Activity</span>
                                    </a>
                                </li>
                            </ul>

                            <!--end::Nav-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body kt-portlet__body--fit">

                <!--begin: Datatable -->
                <div class="tbl-dataTableHistory" id="dataTableHistory"></div>
                <!--end: Datatable -->
            </div>
        </div>
    </div>
</div>

<!--End::Section-->

<script>
    $(document).ready(function() {
        runPages();
        getHistory();
        setTimeout(function() {
            
            getDataHistoryBalance('list_balance_history');
        },500);
    });
    function getHistory() {
        $.ajax({
            url: api_url + 'Balance/data',
            method: 'get',
            dataType: 'json',
            success:function(dt){
                $('#income').html("Rp. " + replaceDuitTigaDigit(dt.income));
                $('#outcome').html("Rp. " + replaceDuitTigaDigit(dt.outcome));
                $('#balance').html("Rp. " + replaceDuitTigaDigit(dt.balance));
            }
        })
    }
</script>